<div class="card card-televisao" style="width: 18rem;">
    <img src="https://www.extra-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1238786940" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> SmartTV LED 50" 4k</h5>
      <p class="card-text">Televisão SmartTv, 50", Tela de LED, 4K .</p>
      <button href="#" class="btn btn-primary" >Comprar</button>
    </div>
  </div>
  

  <div class="card card-geladeira" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvqkfnQia1-L0_dQ3NlnudAYjKRDIbTddJdycIsOCbFZIMjKnYg2U_goxpBI38SjQ8WInQYsA&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Refrigerador 2 Portas</h5>
      <p class="card-text">Refrigerador 2 portas, FrostFree, 474 litros</p>
      <button href="#" class="btn btn-primary" >Comprar</button>
    </div>
  </div>
  